.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contetnt{
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calendar_buts{
    width: 350px;
    height: 400px;
    margin-top: 30px;
}
.calendar_block{
    width: 350px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.today{
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid black;
    background-color: transparent;
    margin-bottom: 18px;
    cursor: pointer;
}
.create_todo{
    width: 90%;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
    border: 2px solid black;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}